{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career | questions</title>
    <link rel="stylesheet" href="{%static 'css/questions.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
  <nav style="background-color: black;height: 90px; width: 1536px;">
    <h1 style="color: #fff; margin-left: 150px; margin-top: 0em;"><span style="color: #c7faa2;">P</span>athPilot</h1>
    <ul >
       <!--- <li><a href="#home">HOME</a></li>-->
        <li><a href="{% url 'main' %}">ABOUT US</a></li>
        <li><a href="{% url 'main' %}">FEEDBACK</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">LOGIN</a></li>
        {% endif %}
    </ul>
  </nav>
  <form method="post">
    {% csrf_token %}
  <div class="center">
    <div class="Ques"><h1>Rate Yourself</h1>
      <div class="Q1"><h2>How skilled are you in   Computer Architecture ?</h2></div>
       <div class="drop"><label for="circuit_design">{{ form.category }}</label>
        <!--<select name="circuit_design" id="circuit_design">
           <option value="5">Professional</option>
           <option value="4">Excellent</option>
           <option value="3">Intermediate</option>
           <option value="2">Average</option>
           <option value="1">Beginner</option>
           <option value="0">Poor</option>
        </select>--></div>
        <h4 style="margin-top: 2em;">Cant decide? <a href="{% url 'decision' %}?d=2" style="color: white;">Check here!</a></h4>
  </div>
  </div>

  <button class="button"> NEXT
  </button>

  <footer>
        <a href="#"><i class="fab fa-facebook"  ></i></a>
        <a href="#"><i class="fab fa-twitter" ></i></a>
        <a href="https://github.com/mohankumar003-1"><i class="fab fa-github" ></i></a>
  </footer>


  <script>
    function myFunction() {
      location.replace("{% url 'q2'%}")
    }
    </script>
</form> 
    
</body>
</html>