{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Layout | CodingLab</title> 
    <link rel="stylesheet" href="{%static 'css/fieldE.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
  
<body>
  <nav style="background-color: black;height: 90px; width: 1536px; position: relative; top: 0em;" class="head">
		<h1 style="color: #fff; margin-left: 150px; margin-top: 0em;"><span style="color: #c7faa2;font-size: x-large;">P</span>athPilot</h1>
		<ul >
		   <!--- <li><a href="#home">HOME</a></li>-->
			<li><a href="#about">ABOUT US</a></li>
			<li><a href="#feedback">FEEDBACK</a></li>
			{% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">LOGIN</a></li>
        {% endif %}
		</ul>
	  </nav>
  <div class="main">
    <div class="sub1">
        <h3>Which Field are you interested in ?</h3>
    </div>
    <ul class="sub2">
        <li><a  href="{% url 'output' %}?c=0" class="f1 s2">Analog Communication</a></li>
        <li><a  href="{% url 'output' %}?c=1" class="f2 s2">C++</a></li>
        <li><a   href="{% url 'output' %}?c=2" class="f3 s2">Power Electronics</a></li>
    </ul>

    <ul class="sub3" >
        <li><a href="{% url 'output' %}?c=3" class="f4 s3">CAD</a></li>
        <li><a href="{% url 'output' %}?c=4" class="f5 s3">Circuit Design</a></li>
        <li><a href="{% url 'output' %}?c=5" class="f6 s3">Electrical Systems</a></li>
    </ul>

   <ul class="sub4">
        <li><a href="{% url 'output' %}?c=6" class="f7 s4">PCB</a></li>
        <li><a href="{% url 'output' %}?c=7" class="f8 s4">Labview</a></li>
        <li><a href="{% url 'output' %}?c=8" class="f9 s4 temp">RF</a></li>
    </ul>
  </div>
  
</body>
</html>