{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
   <script src="https://kit.fontawesome.com/04f28313cf.js" crossorigin="anonymous"></script>
    <title>Document</title>
	<nav style="background-color: black;height: 90px; width: 1519px; position: relative; top: -5em;" class="head">
		<h1 style="color: #fff; margin-left: 150px; margin-top: 0em;"><span style="color: #c7faa2;font-size: x-large;">P</span>athPilot</h1>
		<ul >
		   <!--- <li><a href="#home">HOME</a></li>-->
			<li><a href="#about">ABOUT US</a></li>
			<li><a href="#feedback">FEEDBACK</a></li>
			{% if request.user.is_authenticated %}
        	<li><a href="{% url 'logout' %}">LOGOUT</a></li>
        	{% else %}
        	<li><a href="{% url 'login' %}">LOGIN</a></li>
        	{% endif %}
		</ul>
	  </nav>
</head>
<body>
		
    <div class="container" id="container">
	<div class="form-container sign-up-container">
    <form method="post" id="formOne">
      {% csrf_token %}
			<h1>Create Account</h1>
			<!--<div class="social-container">
			    ---<a href="#" class="social"><i class="fab fa-facebook" style="color: black;"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>-->
			
      <input type="hidden" name="form_type" value="formOne">
			<input type="text" placeholder="Name" id="username" name="username"/>
			<input type="email" placeholder="Email" id="email" name="email" />
      <input type="text" placeholder="Password" id="password1" name="password1">
			<input type="password" placeholder="Password" id="password2" name="password2"/>
			<button id="sinup">Sign Up</button>
		</form>
	</div>
  
	<div class="form-container sign-in-container">
		<form method="post" id="formTwo">
      {% csrf_token %}
			<h1>Sign in</h1>
			<!--<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>-->
      <input type="hidden" name="form_type" value="formTwo">
			<input type="text" placeholder="Username" id="username" name="username" />
			<input type="password" placeholder="Password" id="password" name="password" />
		
			<button id="login" id="log">Sign In</button>
		</form>
	</div>

    	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" id="sub-btn">Sign Up</button>
			</div>
		</div>
	</div>
</div>




</body>
<script src="{% static 'js/login.js'%}"></script>

</html>