{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Layout | CodingLab</title> 
    <link rel="stylesheet" href="{%static 'css/output.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body style="background-color: black;">
  <nav style="background-color: black;height: 90px; width: 1519px;">
    <h1 style="color: #fff; margin-left: 150px; margin-top: 0em;"><span style="color: #c7faa2;">P</span>athPilot</h1>
    <ul >
       <!--- <li><a href="#home">HOME</a></li>-->
        <li><a href="#about">ABOUT US</a></li>
        <li><a href="#feedback">FEEDBACK</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">LOGIN</a></li>
        {% endif %}
    </ul>
  </nav> 

  <div class="center">
    <h1 class="title">We Fetched You the best!</h1>
    {% if f == '[0]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=0">Your last Activity</a></h1>
    {% endif %}
    {% if f == '[1]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=1">Your last Activity</a></h1>
    {% endif %}
    {% if f == '[2]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=2">Your last Activity</a></h1>
    {% endif %}
    {% if f == '[3]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=3">Your last Activity</a></h1>
    {% endif %}
    {% if f == '[4]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=4">Your last Activity</a></h1>
    {% endif %}
    {% if f == '[5]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=5">Your last Activity</a></h1>
    {% endif %}
    {% if f == '[6]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=6">Your last Activity</a></h1>
    {% endif %}
    {% if f == '[7]'  %}
    <h1 style="color: white;"><a href="{% url 'output'%}?cs=7">Your last Activity</a></h1>
    {% endif %}
  
    {% if c == 0 %}
    <div class="role1"><a href="{% url 'map' %}?data=1"><h1>Hardware Electronics Design Engineer</h1></a>
      
      <div class="det1">Design and develop components such as circuit boards and processors for computers and other devices. They work closely with software engineers to create new components, conduct tests on prototypes, and oversee the manufacturing process of a variety of hardware components.</div>
      </div> 
    {% elif c == 1 %}
    <div class="role1"><a href="{% url 'map' %}?data=2"><h1> Industrial Automation</h1>
      
      </a><div class="det1">As an industrial automation engineer, your responsibilities include troubleshooting systems and equipment and maintaining software, robotics, and machinery in a manufacturing facility. 
      </div>
      </div> 
      {% elif c == 2 %}
      <div class="role1"><a href="{% url 'map' %}?data=3"><h1>Embedded C++ Developer</h1>
        
    </a>    <div class="det1">Design, build, and maintain efficient embedded systems using C++. Ensure the best possible performance, quality, and responsiveness of applications. Identify bottlenecks and bugs, and devise solutions to mitigate and address those issues. </div>
        </div>  
      {% elif c == 3 %}
        <div class="role1"><a href="{% url 'map' %}?data=4"><h1>Senior Application Engineer</h1>
        </a>  
          <div class="det1">Senior applications engineer provides assistance to other software engineers in resolving complex production problems on any in-house software application, across multiple hardware platforms and programming languages. 
          </div>
          </div>  
          {% elif c == 4 %}
          <div class="role1"><a href="{% url 'map' %}?data=5"><h1>IT / Technical Operations Specialist</h1></a>
            
            <div class="det1">Some of the duties and responsibilities that you perform as a technical operations specialist include tracking and analyzing various operations reports, identifying customer needs to better meet them, and developing and
              implementing various improvement plans so that the company can operate more efficiently and profitably.</div>
            </div>  
            {% elif c == 5 %}
            <div class="role1"><a href="{% url 'map' %}?data=6"><h1> Labview Engineer</h1>
              
   </a>           <div class="det1">Works with testing equipment to develop user friendly software. Take on various engineering tasks which will help to acquire new skills. Design software architecture and optimize the performance. Data acquisition and manipulation using different hardware.</div>
              </div> 
              {% elif c == 6 %}
              <div class="role1"><a href="{% url 'map' %}?data=7"><h1>Engineer-Control Systems</h1>
           </a>     
                <div class="det1">Controls engineers perform a vital role in designing and developing systems for manufacturing operations. They may design layout, materials and information flow, or machine placement. They may also be responsible for increasing production efficiency by evaluating performance and proposing and implementing improvements.</div>
                </div>  
      {% elif c == 7 %}
        <div class="role1"><a href="{% url 'map' %}?data=8"><h1>Pcb Design Engineer</h1>
                </a>  
        <div class="det1">As a PCB design engineer, your responsibilities include designing the layout of the unit to incorporate the appropriate components, making recommendations to improve existing designs, and overseeing the actual manufacturing of these products to ensure they meet industry and company standards.</div>
                  </div>
        {% elif c == 8 %}
        <div class="role1"><a href="{% url 'map' %}?data=9"><h1>Rf Engineer</h1>
                    
   </a>     <div class="det1">An RF engineer, or radio frequency engineer, is a type of electrical engineer who designs, creates and maintains devices that operate using radio waves. They often collaborate with other engineers and industry specialists to develop and manage new technology for wireless devices. </div>
                    </div>
      {% elif c == 9 %}
      <div class="role1"> <a href="{% url 'map' %}?data=10">><h1>Cad Design Engineer</h1>
              </a>        
      <div class="det1">A CAD designer uses computer software to create detailed and precise construction plans. They attend meetings with clients to understand project specifications, collaborate with the team to allocate resources, create a timeline, and draft 2D and 3D construction plans using design software, such as AutoCAD.  
                      Optimizing software by performing maintenance, updates, and upgrades.</div>
                      </div>   
    {% endif %}
    {% if cs == 0 %}
    <div class="role1"><a href="{% url 'map' %}?data=11"><h1>Data Base Administrator</h1>
      
     </a> <div class="det1">Database Administrators ensure that the databases run efficiently and securely. For example, they create or organize systems to store different data types, such as financial information and customer shipping records. They also make sure authorized users can access this information when needed. </div>
      </div> 
      {% elif cs == 1 %}
      <div class="role1"><a href="{% url 'map' %}?data=12"><h1>Software Development Engineer</h1>
      </a>  
        <div class="det1">A Software Developer designs and builds computer programs that power mobile devices, desktop computers, and even cars. They not only identify user needs but also create new applications for any given market while making improvements based on feedback from users. </div>
        </div>  
      {% elif cs == 2 %}
        <div class="role1"><a href="{% url 'map' %}?data=13"><h1>Cyber Security Engineer</h1>
          
 </a>         <div class="det1">A Cybersecurity Analyst's responsibilities include reviewing computer networks and identifying any potential vulnerabilities, installing the necessary software in order to protect it from unauthorized access, and documenting detections so that future breaches can be mitigated efficiently. </div>
          </div>  
          {% elif cs == 3 %}
          <div class="role1"><a href="{% url 'map' %}?data=14"><h1>Network Consultant</h1>
            
    </a>        <div class="det1">The Network Consultant is an experienced and educated professional who certifies network functionality and performance. They are responsible for designing, setting up and maintaining computer networks at either an organization or client location. </div>
            </div>  
            {% elif cs == 4 %}
            <div class="role1"><a href="{% url 'map' %}?data=15"><h1>Software Developer-Front end</h1>
       </a>       
              <div class="det1">A Front-End Developer is responsible for developing new user-facing features, determining the structure and design of web pages, building reusable codes, optimizing page loading times, and using a variety of markup languages to create the web pages. </div>
              </div> 
              {% elif cs == 5 %}
              <div class="role1"><a href="{% url 'map' %}?data=16"><h1>Machine Learning Engineer</h1>
          </a>      
                <div class="det1">A Machine Learning Engineer is responsible for designing and developing machine learning systems, implementing appropriate ML algorithms, and conducting experiments. They possess strong programming skills, knowledge of data science, and expertise in statistics. </div>
                </div>  
      {% elif cs == 6 %}
        <div class="role1"><a href="{% url 'map' %}?data=17"><h1>Data Science Manager</h1>
               </a>   
        <div class="det1">The data science manager is responsible for helping the company leverage data, working with the team of data scientists and engineers to provide valuable direction and make informed decisions concerning the product, growth, and engagement. </div>
                  </div>
        {% elif cs == 7 %}
        <div class="role1"><a href="{% url 'map' %}?data=18"><h1>Graphic Designer and Content Writer</h1>
</a>                    
        <div class="det1">Collaborate with the content team to create visual elements that complement written content and enhance user engagement. Understanding of SEO principles and best practices in content creation.</div>
                    </div>
    {% endif %}


    {% if c == 0 %}
    <div class="role2"><a href="{% url 'map' %}?data=19"><h1>SMTS Circuit Design Engineer</h1></a>
      
      <div class="det2">To evaluate new components and new process. Briefly speaking, the task of an SMT PE is to prepare, implement and monitor the whole SMT assembly process. As electronic technology gets constantly upgraded and higher demands are laid to electronic products, the fundamental responsibility of SMT PE maintains unchanged. </div>
      </div> 
    {% elif c == 1 %}
    <div class="role2"><a href="{% url 'map' %}?data=20"><h1> Robotics</h1></a>
      
      <div class="det2">Designs and develops robotic prototypes. Constructs, configures, tests, and debugs robots and robotic systems. Installs, operates, calibrates, and maintains robots. Ensures that robotic machines operate safely, dependably, and with precision; identifies and implements modifications. </div>
      </div> 
      {% elif c == 2 %}
      <div class="role2"><a href="{% url 'map' %}?data=21"><h1>Embedded Software Engineer</h1></a>
        
        <div class="det2">Embedded developers are skilled software engineers that design and write code to control machines and devices. They specialize in developing programs for specific hardware used in cars, modems, appliances, and cellular devices, among others. They are involved in the entire process of embedded systems development, from design to integration. </div>
        </div>  
      {% elif c == 3 %}
        <div class="role2"><a href="{% url 'map' %}?data=22"><h1>Power Electronics Design Engineer</h1></a>
          
          <div class="det2">Report to Lead Electrical Engineer. Develop and validate power electronics for high power battery charges. Develop and verify digital and analog power electronics control hardware. Record specification designs, drawings, bills of materials and test data.
          </div>
          </div>  
          {% elif c == 4 %}
          <div class="role2"><a href="{% url 'map' %}?data=23"><h1>Maintenance Engineer Electrical</h1></a>
            
            <div class="det2">The Electrical Maintenance Engineer performs scheduled maintenance and preventative repairs on all electrical systems, equipment, and machinery. The person hired in this position will also review maintenance schedules and adjust them as necessary to keep systems functioning at peak levels. </div>
            </div>  
            {% elif c == 5 %}
            <div class="role2"><a href="{% url 'map' %}?data=24"><h1> Labview Developer</h1></a>
              
              <div class="det2">LabView Programmer will assist in the development of software systems for marine robotics such as seafloor drills and associated systems. The type of projects you will work on include subsea control systems and associated user
                interfaces, as well as other bespoke systems. You will create the code that controls a product line of 20-foot-tall industrial marine robotic drills. One of the leading purposes of this product is to survey ground conditions of future offshore wind turbine sites, enabling efficient design of green energy offshore construction projects. We work in a structured version-controlled coding environment and have defined software engineering processes. </div>
              </div> 
              {% elif c == 6 %}
              <div class="role2"><a href="{% url 'map' %}?data=25"><h1>Control System Firmware Engineer</h1></a>
                
                <div class="det2">Firmware engineers design, install, and troubleshoot firmware systems and their components. They play an active role in every phase of the firmware development cycle, and must be prepared to adapt systems quickly to meet rapidly changing business needs. </div>
                </div>  
      {% elif c == 7 %}
        <div class="role2"><a href="{% url 'map' %}?data=26"><h1>Altium designer For PCB</h1></a>
                  
        <div class="det2">Create and manage design from product definition to released product with minimal external input. Create board layout design using Altium and Pads.The major duties at this position include PCB layout and fabrication, assembly of circuit boards including soldering / de-soldering surface-mount and through-hole components, winding of transformers .</div>
                  </div>
        {% elif c == 8 %}
        <div class="role2"><a href="{% url 'map' %}?data=27"><h1>Rf Engineer</h1></a>
                    
        <div class="det2">An RF engineer, or radio frequency engineer, is a type of electrical engineer who designs, creates and maintains devices that operate using radio waves. They often collaborate with other engineers and industry specialists to develop and manage new technology for wireless devices. </div>
                    </div>
      {% elif c == 9 %}
      <div class="role2"><a href="{% url 'map' %}?data=28"><h1>CAD CAM Engineer</h1></a>
                      
      <div class="det2">Read and interpret blueprints, sketches, drawings, routing instructions, manuals, and specifications. Understand GD&T and apply it during the programming process. Use of CAD to create part models and geometry as needed.</div>
                      </div>   
    {% endif %}
    <!---<div class="role2"><a href="{% url 'map' %}?data=something"><h1>Embedded Software Engineer</h1>
        <div class="det2">Designing and implementing software
            of embedded devices and systems. Designing, developing,
            coding, testing and debugging system software.
            Analyzing and enhancing efficiency, stability 
            and scalability of system resources.</div>
        </div>-->
    
        {% if cs == 0 %}
        <div class="role2"><a href="{% url 'map' %}?data=29"><h1>Database Consultant </h1></a>
          
          <div class="det2">A database consultant is a skilled computer professional responsible for maintaining computer database management and information systems. In this role, your typical job duties include implementing computer databases, testing
            changes made to databases, and evaluating requirements for storing management information. 
            </div>
          </div> 
          {% elif cs == 1 %}
          <div class="role2"><a href="{% url 'map' %}?data=30"><h1>Open Source Developer</h1></a>
            
            <div class="det2">The Open Source Developer candidate is responsible for designing and developing Web and command-line tools that are instrumental in automating processes that affect every part of the business.Gathering requirements and engineers solutionsImplementing and integrating a new Linux-based monitoring platform for the data centerWorking with network engineers to initiate or create automated processes for customer infrastructure .</div>
            </div>  
          {% elif cs == 2 %}
            <div class="role2"><a href="{% url 'map' %}?data=31"><h1>Cyber Security Analyst</h1></a>
              
              <div class="det2">A Cybersecurity Analyst's responsibilities include reviewing computer networks and identifying any potential vulnerabilities, installing the necessary software in order to protect it from unauthorized access, and documenting detections so that future breaches can be mitigated efficiently. </div>
              </div>  
              {% elif cs == 3 %}
              <div class="role2"><a href="{% url 'map' %}?data=32"><h1>System Administrator</h1></a>
                
                <div class="det2">System administrators support, troubleshoot, and maintain computer servers and networks. System administrators—also known as sysadmins—are information technology (IT) professionals who make sure an organization's computer systems are functioning and meet the needs of the organization. </div>
                </div>  
                {% elif cs == 4 %}
                <div class="role2"><a href="{% url 'map' %}?data=33"><h1> Software Developer-Back end</h1></a>
                  
                  <div class="det2">Backend developer responsibilities include creating, maintaining, testing, and debugging the entire back end of an application or system. This includes the core application logic, databases, data and application integration, API, and other processes taking place behind the scenes. </div>
                  </div> 
                  {% elif cs == 5 %}
                  <div class="role2"><a href="{% url 'map' %}?data=34"><h1>Data Scientist</h1></a>
                    
                    <div class="det2">Developing software and overseeing
                    the deployment of applications across platforms.
                    Performing diagnostic tests and debugging procedures. 
                    Creating end-user application feedback channels. 
                    Optimizing software by performing maintenance, updates, and upgrades.</div>
                    </div>  
          {% elif cs == 6 %}
            <div class="role2"><a href="{% url 'map' %}?data=35"><h1>Data Science Consultant</h1></a>
                      
            <div class="det2">|A data science consultant works with organizations to perform analyses and computations that draw insights from collected data. They work with clients to improve their data competencies, analytical skills and business strategies.</div>
                      </div>
            {% elif cs == 7 %}
            <div class="role2"><a href="{% url 'map' %}?data=36"><h1>Graphical Editors</h1></a>
                        
            <div class="det2">The Graphic Designer job description includes the entire process of defining requirements, visualizing and creating graphics including illustrations, logos, layouts and photos. You'll be the one to shape the visual aspects of websites, books, magazines, product packaging, exhibitions and more. </div>
                        </div>
        {% endif %}
    
        {% if c == 0 %}
        <div class="role3"><a href="{% url 'map' %}?data=37"><h1>Senior Hardware Design Engineer</h1></a>
          
          <div class="det3">Responsible for design, component selection, schematic implementation, hardware bring-up, debug and validation. You will collaborate with a multi-sited product development team to integrate your deliverables toward release of new products into production. </div>
          </div> 
        {% elif c == 1 %}
        <div class="role3"><a href="{% url 'map' %}?data=38"><h1> Robotics</h1>
          
          </a><div class="det3">Designs and develops robotic prototypes. Constructs, configures, tests, and debugs robots and robotic systems. Installs, operates, calibrates, and maintains robots. Ensures that robotic machines operate safely, dependably, and with precision; identifies and implements modifications. 
          </div>
          </div> 
          {% elif c == 2 %}
          <div class="role3"><a href="{% url 'map' %}?data=39"><h1>Firmware Developer</h1>
            </a>
            <div class="det3">Firmware engineers design, install, and troubleshoot firmware systems and their components. They play an active role in every phase of the firmware development cycle, and must be prepared to adapt systems quickly to meet rapidly changing business needs. </div>
            </div>  
          {% elif c == 3 %}
            <div class="role3"><a href="{% url 'map' %}?data=40"><h1>Trainee Power Electronics Design Engineer</h1></a>
              
              <div class="det3">Designs and develops power and control electronic equipment or hardware for products with motors. Works with circuits and other electronic equipment, components or systems.</div>
              </div>  
              {% elif c == 4 %}
              <div class="role3"><a href="{% url 'map' %}?data=41"><h1>Power Quality Audit Engineer</h1>
  </a>              
                <div class="det3">Investigate, analyze, and solve power quality related problems at customer locations as an independent operator.Provide recommendations to Power Delivery and to customers that will mitigate both APC generated and customer imposed power quality problems.Serve as a technical consultant and mediator between customers, vendors, and Power Delivery when dealing with controversial power quality related problems. </div>
                </div>  
                {% elif c == 5 %}
                <div class="role3"><a href="{% url 'map' %}?data=42"><h1> Labview Test Engineer</h1>
        </a>          
                  <div class="det3">A member of a cross-functional team that will write the software for the systems that we design. You need to have a thorough understanding of National Instruments’ software and hardware. You will be part of the complete system development cycle from quoting to design to system build and check-out to delivery and post launch support. You will be interacting with customers and required to deliver project status to the company’s management team, so communication skills are a must. </div>
                  </div> 
                  {% elif c == 6 %}
                  <div class="role3"><a href="{% url 'map' %}?data=43"><h1>EV Control System Engineer</h1>
    </a>                
                    <div class="det3">Experience with control strategy development, modelling, simulation and tuning of control algorithms, integration and vehicle level testing of components and systems in EV. Good understanding of the performance requirements and benchmarks of various EV systems. </div>
                    </div>  
          {% elif c == 7 %}
            <div class="role3"><a href="{% url 'map' %}?data=44"><h1>Electronic PCB Soldering Technician</h1></a>
                      
            <div class="det3">Performs various types of soldering including surface mount, thru-hole, and hand-soldering. Consults production schedule to prepare work area and equipment. Gathers components needed to meet production schedules. Sets up equipment and solders components together. </div>
                      </div>
            {% elif c == 8 %}
            <div class="role3"><a href="{% url 'map' %}?data=45"><h1>Rf Engineer</h1>
                   </a>     
            <div class="det3">An RF engineer, or radio frequency engineer, is a type of electrical engineer who designs, creates and maintains devices that operate using radio waves. They often collaborate with other engineers and industry specialists to develop and manage new technology for wireless devices.</div>
                        </div>
          {% elif c == 9 %}
          <div class="role3"><a href="{% url 'map' %}?data=46"><h1>Cad Technician</h1>
                </a>          
          <div class="det23">Following complex instructions and diagrams to create or modify drawings. Taking verbal direction and implementing into sketches and calculations to produce the final work. Producing plans, elevations, technical details and building layouts. </div>
                          </div>   
        {% endif %}
        {% if cs == 0 %}
        <div class="role3"><a href="{% url 'map' %}?data=47"><h1>Junior Database Administrator</h1>
 </a>         
          <div class="det3">This position is responsible for maintaining database applications, ensuring information is accurate and entered in a timely manner to support NACo departments and program requirements. The position is also responsible for data entry, data structure, report customization, and analysis and data quality control. </div>
          </div> 
          {% elif cs == 1 %}
          <div class="role3"><a href="{% url 'map' %}?data=48"><h1>Full Stack Developer</h1>
          </a>  
            <div class="det3">Full Stack Developers work in the IT department of a company performing both front- and back-end operations on websites and computer systems. They design front-end website architecture and work closely with the Graphic Designers in the company to ensure website applications collaborate well with their design elements. </div>
            </div>  
          {% elif cs == 2 %}
            <div class="role3"><a href="{% url 'map' %}?data=49"><h1>Cyber Security Specialist</h1>
     </a>         
              <div class="det3">Cyber Security Specialists are responsible for discovering vulnerabilities and risks in networks, software systems and data centers with ongoing vulnerability scans, monitoring network data, and ensuring hardware and software applications are updated. </div>
              </div>  
              {% elif cs == 3 %}
              <div class="role3"><a href="{% url 'map' %}?data=50"><h1>Network Operations & Support</h1>
  </a>              
                <div class="det3">Day-to-day network performance monitoring. Network troubleshooting and fault analysis; hardware troubleshooting and repair. Trouble ticket generation and response; carrier interface and escalations. Deployment and maintenance of network monitoring, analysis and reporting tools. </div>
                </div>  
                {% elif cs == 4 %}
                <div class="role3"><a href="{% url 'map' %}?data=51"><h1>Software Developer</h1>
            </a>      
                  <div class="det3">Researching, designing, implementing, and managing software programs.Testing and evaluating new programsIdentifying areas for modification in existing programs and subsequently developing these modifications.Writing and implementing efficient code.Determining operational practicality.Developing quality assurance procedures.Deploying software tools, processes, and metricsMaintaining and upgrading existing systems.Training users.Working closely with other developers, UX designers, business and systems analysts.
                  </div>
                  </div> 
                  {% elif cs == 5 %}
                  <div class="role3"><a href="{% url 'map' %}?data=52"><h1>AIML Data Scientist</h1>
           </a>         
                    <div class="det3">Data mining or extracting usable data from valuable data sources.Using machine learning tools to select features, create and optimize classifier.Carrying out preprocessing of structured and unstructured data.Enhancing data collection procedures to include all relevant information for developing analytic systems.Processing, cleansing, and validating the integrity of data to be used for analysis.Analyzing large amounts of information to find patterns and solutions.Developing prediction systems and machine learning 
                      algorithms.Presenting results in a clear manner.Propose solutions and strategies to tackle business challenges.Collaborate with Business and IT teams. </div>
                    </div>  
          {% elif cs == 6 %}
            <div class="role3"><a href="{% url 'map' %}?data=53"><h1>Data Science Specialist</h1>
       </a>               
            <div class="det3">A data scientist is someone who makes value out of data. Such a person proactively fetches information from various sources and analyzes it for better understanding about how the business performs, and to build AI tools that automate certain processes within the company.
            </div>
                      </div>
            {% elif cs == 7 %}
            <div class="role3"><a href="{% url 'map' %}?data=54"><h1>Graphic Designer</h1>
              </a>          
            <div class="det3">The Graphic Designer job description includes the entire process of defining requirements, visualizing and creating graphics including illustrations, logos, layouts and photos. You'll be the one to shape the visual aspects of websites, books, magazines, product packaging, exhibitions and more. </div>
                        </div>
        {% endif %}
    <!--<div class="role3"><a href="{% url 'map' %}?data=something"><h1>Firmware Developer</h1>
        <div</a> class="det3">Firmware engineers design, install,
            and troubleshoot firmware systems and their components.
            They play an active role in every phase of the firmware development cycle,
            and must be prepared to adapt systems quickly to meet rapidly changing business needs.</div>
    </div>-->
    
    <div class="links">
        <a href="#"><i class="fab fa-facebook" style="color: rgb(255, 255, 255);" ></i></a>
        <a href="#"><i class="fab fa-twitter" style="color: rgb(255, 255, 255);"></i></a>
        <a href="https://github.com/mohankumar003-1"><i class="fab fa-github" style="color: rgb(255, 255, 255);"></i></a>
      </div>
  </div>
</body>
</html>