@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium');
*{
  font-family: Oxanium;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #050505;
}

nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 50px;

  
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #c7faa2;
  position:absolute;
  left: 0;
  bottom: -6px ;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.center{
  position: fixed;
  margin-top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
color: white;
    margin-left: 27em;
gap: 2em;
}
.center h2{
    text-align: left;
}

