@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Condiment');


body {
  margin: 0;
  box-sizing: border-box;
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(196, 181, 160) ;
  font-family:'poppins',sans-serif;
  
}

.header .logo {
  font-size: 25px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  margin-left: 35px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(196, 181, 160);
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 35px;
  font-weight: 900;
}
.image{
    display: flex;
    position: relative;
    margin-left: 20em;
    border-radius: 25px;
    margin-top: 3em;
    box-shadow: 10px 10px 5px black;
}
.maintext{
    position: fixed;
    margin-left: 74rem;
    top:12em;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Indie Flower';
}
.Btn {
  width: 130px;
  height: 40px;
  position: fixed;
  margin-left: 80rem;
  top:25em;
  font-size: larger;
  border-radius: 10px;
  font-family: 'indie flower';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 9, 9);
  border: none;
  padding: 30px 20px;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.103);
  overflow: hidden;
  transition-duration: .3s;
}


.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: rgb(196, 181, 160);
  
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: multiply;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

.foot{
  position: relative;
  margin-left: 26em;
  top:29px;
  font-size: 35px;
  color: rgb(196, 181, 160);
 
}